nav {
  position: fixed;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  
}

#heading {
font-family: "Bungee";
margin-left: 1.5em;
}

#write_tweet{
  margin-right: 1.5em;
}

.nav1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas{
  display: flex;
  justify-content: center;
  size: 50px;
}

header{
  z-index: 0;
}
